#levels {
  display: none;
  border: 3px solid black;
  border-radius: 25px;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  top: 30%;
  transform: translateX(-50%);
  left: 50%;
  background: #826e6e;
  font-weight: bold;
  font-size: 25px;
  font-family: Arial;
  box-shadow: 3px 3px 7px grey;
  width: 250px;
  color: white;
}

#levels h3 {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  cursor: default;
}

.level {
  background: #826e6e;
  border-top: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.level:hover {
  background: linear-gradient(to bottom right, #e0e0d1, grey, #cccccc);
  color: white;
}

#close-levels {
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid black;
}

.stages {
  display: none;
  border: 3px solid black;
  position: absolute;
  text-align: center;
  margin: 2px; /*gt to xw auto?*/
  top: 30%;
  transform: translateX(-50%);
  /*-webkit-transform: translateX(-50%); den kserw ti kanei*/
  left: 50%;
  /*background: linear-gradient(to bottom right, #e0e0d1, #f2f2f2, #999966);#e0e0d1*/
  background: #826e6e;
  font-weight: bold;
  font-size: 25px;
  font-family: Arial;
  box-shadow: 3px 3px 7px grey;
  width: 250px;
  color: white;
}

.stages h3 {
  /*padding-left: 20px;
  padding-right: 20px;*/
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  cursor: default;
  border-bottom: 2px solid black;
  /*background: linear-gradient(to bottom right, #e0e0d1, #f2f2f2, #999966); #e0e0d1*/

}

.stage {
  /*gt exw to text decoration?*/
  /*text-decoration: none;*/
  /*background: linear-gradient(to bottom right, white, #f2f2f2, #999966); #e0e0d1*/
  background: #826e6e; /*kai auto mporw na to sbhsw gt pairnei to xrwma apo to stages*/
  cursor: pointer;
  padding: 10px;
}

.stage:hover {
  /*background: linear-gradient(to bottom right, #e0e0d1, grey, #cccccc);*/
  color: white;
  background: linear-gradient(to bottom right, grey, black, #999966);
}

.stage img{
  display: none;
  width: 15px;
  height: 15px;
  padding: 0px;
  padding-left: 10px;
  margin: 0px;
  position:absolute;
  left: 0;
  padding-top: 6px;
}

#levels5x5, #levels10x10, #levels15x15 {
  display: none;
}

#close-levels5x5, #close-levels10x10, #close-levels15x15 {
  cursor: pointer;
  border-top: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}